@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --base-color: rgb(13, 17, 22);
    --base-variant: rgb(10, 14, 18);
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #871cc1;
    --accent-color2: #a76cc7;
}
.whitemode {
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #000000;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #871cc1;
}

.whitemode .about-home {
    background-image: url("/assets/images/bg-light.png");
}

.whitemode button {
    background-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    background: var(--base-color);
    color: var(--text-color);
}

button {
    background-color: transparent;
    border: none;
    padding: 0.8em 2em;
    border-radius: 4px;
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

/* MODO ESCURO/ CLARO */
#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switch img {
    fill: var(--text-color);
}
#theme-switch img:last-child {
    display: none;
}
.whitemode #theme-switch img:first-child {
    display: none;
}
.whitemode #theme-switch img:last-child {
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2.5%;
    background: var(--base-color);
    z-index: 100;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
}

/* .navbar a:hover{
    color: var(--accent-color);
} */

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 64px;
    width: 100%;
}

.about-home {
    align-items: center;
    background: var(--base-variant);
    background-attachment: fixed;
    background-image: url("/assets/images/bg-dark.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    min-height: 700px;
    padding: 0 15%;
    width: 100%;
}

.about-home .home-content {
    text-align: left;
    z-index: 2;
}

.about-home .home-img {
    z-index: 2;
}

.about-home .home-img img {
    width: 150px;
    border-radius: 50%;
    filter: grayscale(100%);
}

/* img {
    overflow-clip-margin: content-box;
    overflow: clip;
} */

/* ICONES REDES SOCIAIS */
.social-media {
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-media svg {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}

.social-media svg {
    fill: #ffffff;
}

.social-media svg:hover {
    fill: #871cc1;
}

.whitemode .social-media svg {
    fill: #000000;
}

.whitemode .social-media svg:hover {
    fill: #871cc1;
}

/* TEXTO */
.home-content h1 {
    font-size: 8rem;
    font-family: "Arial Bold", sans-serif;
    margin-bottom: 20px;
}

.home-content span {
    font-size: 2.5rem;
    color: var(--text-color);
}

/* ABOUT ME */
.about {
    display: flex;
    flex-direction: column;
    padding: 7% 10%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--base-color);
}

.heading {
    text-align: center;
    font-size: 3.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* Carrossel container */
.carrossel-container {
    width: 80%;
    height: 120px;
    overflow: hidden;
    margin-top: 2rem;
    display: block;
    text-align: center;
}

/* Carrossel flex */
.carrossel {
    display: flex;
    gap: 3.5rem;
    justify-content: center;
}

/* Itens do carrossel */
.carrossel-item {
    position: relative;
    display: inline-block;
}

/* Imagens do carrossel */
.carrossel img {
    width: 60px;
    height: 80px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

/* Efeito de zoom ao passar o mouse */
.carrossel img:hover {
    transform: scale(1.1);
}

/* Nome da linguagem (invisível por padrão) */
.language-name {
    position: absolute;
    bottom: -20px; /* Ajuste a posição vertical conforme necessário */
    left: 0;
    right: 0;
    font-size: 1.4rem;
    color: white;
    padding: 5px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Quando o mouse estiver sobre a imagem, exibe o nome da linguagem */
.carrossel-item:hover .language-name {
    opacity: 1;
    visibility: visible;
}

/* QUALIFICAÇÃO | EDUCAÇÃO */

.qualification-section {
    display: grid;
    grid-template-columns: minmax(3fr);
    justify-content: center;
    background: var(--base-color);
}

.qualification .section-title {
    text-align: left;
    font-size: 3.5rem;
    padding: 2% 10%;
    margin-bottom: -2rem;
}

.qualification .section-subtitle {
    font-size: 1.6rem;
    padding: 10% 10%;
    margin: 2rem 0 3rem;
}

.section-title,
.section-subtitle {
    text-align: center;
}

.qualification-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    gap: 10rem;
}

.qualification-button {
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--secondary-text);
}

.qualification-button:hover {
    color: var(--accent-color2);
}

.qualification-icon {
    font-size: 2.25rem;
    margin-right: 0.25rem;
}

.qualification-data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 7rem;
}

.qualification-data > div:first-child {
    margin-left: 10rem;
}

.qualification-title {
    font-size: 2rem;
    font-weight: 600;
}

.qualification-subtitle {
    display: inline-block;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.qualification-date {
    font-size: 1.2rem;
    color: var(--secondary-text);
}

.qualification-round {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--accent-color2);
    border-radius: 50%;
}

.qualification-line {
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--accent-color2);
    transform: translate(5.6px, -7px);
}

.qualification [data-content] {
    display: none;
}

.qualification-active[data-content] {
    display: block;
}

.qualification-button.qualification-active {
    color: #5b0888;
}
