@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --base-color: rgb(13, 17, 22);
    --base-variant: rgb(10, 14, 18);
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}
.whitemode {
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #000000;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    background: var(--base-color);
    color: var(--text-color);
}

button {
    border: none;
    padding: 0.8em 2em;
    background-color: var(--base-color);
    color: white;
    border-radius: 4px;
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

/* MODO ESCURO/ CLARO */
#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switch svg {
    fill: var(--text-color);
}
#theme-switch svg:last-child {
    display: none;
}
.whitemode #theme-switch svg:first-child {
    display: none;
}
.whitemode #theme-switch svg:last-child {
    display: block;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
